@import "tailwindcss";
.gradient-btn{
    background: linear-gradient(90deg, #217df5 40%, #E52E71 100%);
}
@font-face {
    font-family:"Inter";
    src: url('/assets/Inter_18pt-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: "ROSSTEN";  
    src: url('/assets/fonts/ROSSTEN.ttf');
    font-display: swap;
}
@font-face {
    font-family: "Abuget";
    src: url('/assets/fonts/Abuget.woff2') format('woff2');
    font-display: swap;
}
.search{
    mix-blend-mode: difference;
}
/* .explore{
    background: linear-gradient(120deg, #000000e8 0%,#000000c9 50%, #111111 100%);
} */
.genre::-webkit-scrollbar{
    display: none;
    scroll-snap-type: x mandatory;
}
.trending::-webkit-scrollbar{
    display: none;
    scroll-snap-type: x mandatory;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}